*~
*.o
Makefile
Makefile.in
hydra
hydra.exe
hydra.restore
xhydra
xhydra.exe
hydra-gtk/Makefile.in
hydra-gtk/aclocal.m4
hydra-gtk/autom4te.cache/
hydra-gtk/compile
hydra-gtk/config.h
hydra-gtk/config.h.in
hydra-gtk/config.log
hydra-gtk/config.status
hydra-gtk/configure
hydra-gtk/depcomp
hydra-gtk/errors
hydra-gtk/install-sh
hydra-gtk/missing
hydra-gtk/mkinstalldirs
hydra-gtk/src/.deps/
hydra-gtk/stamp-h.in
hydra-gtk/stamp-h1
pw-inspector
pw-inspector.exe
