/** <pre><nowiki> */
#footer { text-align: center; border: none; padding: 0; }
#p-cactions li.selected { border-color: #708090; padding: 0 0 .2em 0; font-weight: bold; }
pre
{
    generic-family: "Envy Code R", "Liberation Mono", Consolas, "Lucida Console", monospace;

    /* border: 1px solid #dbdbdb; */

    border: 1px solid #cfcfcf;
    background-color: #fefefe;
    line-height: 1.1em;
    padding: 0.55em;
/*
    -moz-border-radius-topright: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    border-radius-topright: 0.5em;
*/
}
/** </nowiki></pre> */